version: '3'

services:
  backend:
    build: ./backend
    depends_on:
      - postgres
    command: bash -c "./wait-for-it.sh localhost:5433 && alembic upgrade head && python3 server.py"
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
  frontend:
    build: ./frontend
    depends_on:
      - backend
  script:
    build: ./script
    depends_on:
      - frontend